<% records.forEach((record)=>{ %>
                
    <tbody>
        <tr>
          <th scope="row"><%= record.id %></th>
          <td><%= record.first_name %></td>
          <td><%= record.last_name %></td>
          <td><%= record.age %></td>
          <td><div>
              <button class="btn btn-outline-success">Edit</button>
              <button class="btn btn-outline-danger">Delete</button>
          </div></td>
        </tr>
      </tbody>


<% }) %>


